.klondike-light {
  display: grid;
  height: auto;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 12(auto);
	grid-template-areas: ". . ." ". . ." ". . .";
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
	grid-column-gap: 2%;
	grid-row-gap: 10px;
}
.klondike-light a:nth-child(1){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_1.jpg");
	background-size: cover;
	background-position: center;
}
.klondike-light a:nth-child(2){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_2.jpg");
	background-size: cover;
	background-position: center;
}

.klondike-light a:nth-child(3){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_3.jpg");
	background-size: cover;
	background-position: center;
}
.klondike-light a:nth-child(4){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_4.jpg");
	background-size: cover;
	background-position: center;
}

.klondike-light a:nth-child(5){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_5.jpg");
	background-size: cover;
	background-position: center;
}

.klondike-light a:nth-child(6){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_6.jpg");
	background-size: cover;
	background-position: center;
}

.klondike-light a:nth-child(7){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_7.jpg");
	background-size: cover;
	background-position: center;
}

.klondike-light a:nth-child(8){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_8.jpg");
	background-size: cover;
	background-position: center;
}

.klondike-light a:nth-child(9){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_9.jpg");
	background-size: cover;
	background-position: center;
}

.klondike-light a:nth-child(10){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_10.jpg");
	background-size: cover;
	background-position: center;
}

.klondike-light a:nth-child(11){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_11.jpg");
	background-size: cover;
	background-position: center;
}

.klondike-light a:nth-child(12){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_12.jpg");
	background-size: cover;
	background-position: center;
}

.klondike-light a:nth-child(13){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_13.jpg");
	background-size: cover;
	background-position: center;
}

.klondike-light a:nth-child(14){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_14.jpg");
	background-size: cover;
	background-position: center;
}

.klondike-light a:nth-child(15){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_15.jpg");
	background-size: cover;
	background-position: center;
}

.klondike-light a:nth-child(16){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_16.jpg");
	background-size: cover;
	background-position: center;
}

.klondike-light a:nth-child(17){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_17.jpg");
	background-size: cover;
	background-position: center;
}

.klondike-light a:nth-child(18){
	background-image: url("../img/valpaint-dt-img/klondike-light/6_klondike_light_i_18.jpg");
	background-size: cover;
	background-position: center;
}



@media screen and (max-width: 768px) {
		.klondike-light a {height: 80px;}
