.sabulador {
  display: grid;
  height: auto;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 12(auto);
	grid-template-areas: ". . ." ". . ." ". . .";
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
	grid-column-gap: 2%;
	grid-row-gap: 10px;
}
.sabulador a:nth-child(1){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_1.jpg");
	background-size: cover;
	background-position: center;
}
.sabulador a:nth-child(2){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_2.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(3){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_3.jpg");
	background-size: cover;
	background-position: center;
}
.sabulador a:nth-child(4){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_4.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(5){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_5.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(6){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_6.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(7){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_7.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(8){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_8.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(9){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_9.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(10){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_10.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(11){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_11.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(12){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_12.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(13){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_13.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(14){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_14.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(15){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_15.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(16){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_16.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(17){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_17.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(18){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_18.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(19){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_19.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(20){
	background-image: url("../img/valpaint-dt-img/sabulador/7_sabulador_i_20.jpg");
	background-size: cover;
	background-position: center;
}


.sabulador a:nth-child(21){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_1.jpg");
	background-size: cover;
	background-position: center;
}
.sabulador a:nth-child(22){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_2.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(23){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_3.jpg");
	background-size: cover;
	background-position: center;
}
.sabulador a:nth-child(24){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_4.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(25){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_5.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(26){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_6.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(27){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_7.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(28){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_8.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(29){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_9.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(30){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_10.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(31){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_11.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(32){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_12.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(33){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_13.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(34){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_14.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(35){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_15.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(36){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_16.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(37){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_17.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(38){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_18.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(39){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_19.jpg");
	background-size: cover;
	background-position: center;
}

.sabulador a:nth-child(40){
	background-image: url("../img/valpaint-dt-img/sabulador/8_sabulador_ii_20.jpg");
	background-size: cover;
	background-position: center;
}


@media screen and (max-width: 768px) {
		.sabulador a {height: 80px;}
