.valsetin-2 {
  display: grid;
  height: auto;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 12(auto);
	grid-template-areas: ". . ." ". . ." ". . .";
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
	grid-column-gap: 2%;
	grid-row-gap: 10px;
}
.valsetin-2 a:nth-child(1){
	background-image: url("../img/valpaint-dt-img/valsetin-2/1.jpg");
	background-size: cover;
	background-position: center;
}
.valsetin-2 a:nth-child(2){
	background-image: url("../img/valpaint-dt-img/valsetin-2/2.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(3){
	background-image: url("../img/valpaint-dt-img/valsetin-2/3.jpg");
	background-size: cover;
	background-position: center;
}
.valsetin-2 a:nth-child(4){
	background-image: url("../img/valpaint-dt-img/valsetin-2/4.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(5){
	background-image: url("../img/valpaint-dt-img/valsetin-2/5.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(6){
	background-image: url("../img/valpaint-dt-img/valsetin-2/6.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(7){
	background-image: url("../img/valpaint-dt-img/valsetin-2/7.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(8){
	background-image: url("../img/valpaint-dt-img/valsetin-2/8.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(9){
	background-image: url("../img/valpaint-dt-img/valsetin-2/9.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(10){
	background-image: url("../img/valpaint-dt-img/valsetin-2/10.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(11){
	background-image: url("../img/valpaint-dt-img/valsetin-2/11.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(12){
	background-image: url("../img/valpaint-dt-img/valsetin-2/12.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(13){
	background-image: url("../img/valpaint-dt-img/valsetin-2/13.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(14){
	background-image: url("../img/valpaint-dt-img/valsetin-2/14.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(15){
	background-image: url("../img/valpaint-dt-img/valsetin-2/15.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(16){
	background-image: url("../img/valpaint-dt-img/valsetin-2/16.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(17){
	background-image: url("../img/valpaint-dt-img/valsetin-2/17.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(18){
	background-image: url("../img/valpaint-dt-img/valsetin-2/18.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(19){
	background-image: url("../img/valpaint-dt-img/valsetin-2/19.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(20){
	background-image: url("../img/valpaint-dt-img/valsetin-2/20.jpg");
	background-size: cover;
	background-position: center;
}

.valsetin-2 a:nth-child(21){
	background-image: url("../img/valpaint-dt-img/valsetin-2/21.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(22){
	background-image: url("../img/valpaint-dt-img/valsetin-2/22.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(23){
	background-image: url("../img/valpaint-dt-img/valsetin-2/23.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(24){
	background-image: url("../img/valpaint-dt-img/valsetin-2/24.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(25){
	background-image: url("../img/valpaint-dt-img/valsetin-2/25.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(26){
	background-image: url("../img/valpaint-dt-img/valsetin-2/26.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(27){
	background-image: url("../img/valpaint-dt-img/valsetin-2/27.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(28){
	background-image: url("../img/valpaint-dt-img/valsetin-2/28.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(29){
	background-image: url("../img/valpaint-dt-img/valsetin-2/29.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(30){
	background-image: url("../img/valpaint-dt-img/valsetin-2/30.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(31){
	background-image: url("../img/valpaint-dt-img/valsetin-2/31.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(32){
	background-image: url("../img/valpaint-dt-img/valsetin-2/32.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(33){
	background-image: url("../img/valpaint-dt-img/valsetin-2/33.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(34){
	background-image: url("../img/valpaint-dt-img/valsetin-2/34.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(35){
	background-image: url("../img/valpaint-dt-img/valsetin-2/35.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(36){
	background-image: url("../img/valpaint-dt-img/valsetin-2/36.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(37){
	background-image: url("../img/valpaint-dt-img/valsetin-2/37.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(38){
	background-image: url("../img/valpaint-dt-img/valsetin-2/38.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(39){
	background-image: url("../img/valpaint-dt-img/valsetin-2/39.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(40){
	background-image: url("../img/valpaint-dt-img/valsetin-2/40.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(41){
	background-image: url("../img/valpaint-dt-img/valsetin-2/41.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(42){
	background-image: url("../img/valpaint-dt-img/valsetin-2/42.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(43){
	background-image: url("../img/valpaint-dt-img/valsetin-2/43.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(44){
	background-image: url("../img/valpaint-dt-img/valsetin-2/44.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(45){
	background-image: url("../img/valpaint-dt-img/valsetin-2/45.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(46){
	background-image: url("../img/valpaint-dt-img/valsetin-2/46.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(47){
	background-image: url("../img/valpaint-dt-img/valsetin-2/47.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(48){
	background-image: url("../img/valpaint-dt-img/valsetin-2/48.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(49){
	background-image: url("../img/valpaint-dt-img/valsetin-2/49.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(50){
	background-image: url("../img/valpaint-dt-img/valsetin-2/50.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(51){
	background-image: url("../img/valpaint-dt-img/valsetin-2/51.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(52){
	background-image: url("../img/valpaint-dt-img/valsetin-2/52.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(53){
	background-image: url("../img/valpaint-dt-img/valsetin-2/53.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(54){
	background-image: url("../img/valpaint-dt-img/valsetin-2/54.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(55){
	background-image: url("../img/valpaint-dt-img/valsetin-2/55.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(56){
	background-image: url("../img/valpaint-dt-img/valsetin-2/56.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(57){
	background-image: url("../img/valpaint-dt-img/valsetin-2/57.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(58){
	background-image: url("../img/valpaint-dt-img/valsetin-2/58.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(59){
	background-image: url("../img/valpaint-dt-img/valsetin-2/59.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(60){
	background-image: url("../img/valpaint-dt-img/valsetin-2/60.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(61){
	background-image: url("../img/valpaint-dt-img/valsetin-2/61.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(62){
	background-image: url("../img/valpaint-dt-img/valsetin-2/62.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(63){
	background-image: url("../img/valpaint-dt-img/valsetin-2/63.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(64){
	background-image: url("../img/valpaint-dt-img/valsetin-2/64.jpg");
	background-size: cover;
	background-position: center;
}.valsetin-2 a:nth-child(65){
	background-image: url("../img/valpaint-dt-img/valsetin-2/65.jpg");
	background-size: cover;
	background-position: center;
}
@media screen and (max-width: 768px) {
		.valsetin-2 a {height: 80px;}
